<div class="container">
  <h1>Welcome, <%= @user.username %></h1>
  <div class="row">
    <% if @cart_products.empty? %>
      <div class="col-sm-9">
        <h2>Your cart is empty.</h2>
      </div>
    <% else %>
      <div class="col-sm-9">
        <h2>You have <%= pluralize(@cart_products.count, 'item')  %> in your cart</h2>
      </div>
      <%= render partial: 'subtotal' %>
    </div>
    <table class="table">
      <% @cart_products.each_slice(3) do |slice_3_products| %>
        <tr>
          <% slice_3_products.each do |product| %>
            <td class="col-md-3 ">
              <%= render partial: 'products/product', object: product,
                         locals: { more_info_link: true, index_link: false,
                                   full_desc: false, add_to_cart: false } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
      <div class="row">
        <div class="col-sm-9"></div>
        <%= render partial: 'subtotal' %>
      </div>
  <% end %>
</div>
