<header>
  <nav class="nav navbar-default ks-pink-bg">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to image_tag("logo_20p.png", :alt => "The Keystore"), root_path %>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to('Home', root_path) %></li>
        <li><%= link_to('Products', root_path) %></li>
        <li><%= link_to('Categories', root_path) %></li>
        <li><%= link_to('My Account', root_path) %></li>
      </ul>
    </div>
  </nav>
</header>