<div class="container">
  <div class="row">
    <h1>Checkout</h1>
  </div>
  <div class="row">
    <table class="table">
      <th>Product</th>
      <th>Details</th>
      <th>Price</th>
      <% @cart_products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.category.name %></td>
          <td><%= product.price %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
      <p>Total before tax:
        <span class="ks-pink-txt float-right"><%= number_to_currency(@subtotal) %></span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
      <p>Estimated PST/RST/QST:
        <span class="ks-pink-txt float-right"><%= number_to_currency(@subtotal * (@local_tax / 100)) %></span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
      <p>Estimated GST/HST:
        <span class="ks-pink-txt float-right"><%= number_to_currency(@subtotal * (@federal_tax / 100)) %></span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
      <p>Total:
        <span class="ks-pink-txt float-right">CDN <%= number_to_currency(@total) %></span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
      <%= link_to 'Place Order', '#', class: "btn btn-sm btn-block mt-1 ks-pink-bg ks-purple-txt" %>
    </div>
  </div>
</div>