<div class="container">
  <div class="row">
    <h1>Order Summary</h1>
  </div>

  <div class="row">
    <table class="table">
      <th>Product</th>
      <th>Details</th>
      <th>Price</th>
      <% @cart_products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.category.name %></td>
          <td><%= number_to_currency(product.price) %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <%= form_for @order, html: {class: "form"} do |f| %>
        <%= f.hidden_field :updated_at %>
        <%= f.submit %>
      <% end %>
    </div>

    <div class="col-sm-4">
      <p>Total before tax:
        <span class="ks-pink-txt float-right">
          <%= number_to_currency(@cart_total) %>
        </span>
      </p>
      <p>Estimated PST/RST/QST:
        <span class="ks-pink-txt float-right">
          <%= number_to_currency(@cart_total * (@user.province.pst_rate / 100)) %>
        </span>
      </p>
      <p>Estimated GST/HST:
        <span class="ks-pink-txt float-right">
          <% if @user.province.hst_rate != 0 %>
            <%= number_to_currency(@cart_total * (@user.province.hst_rate / 100)) %>
          <% else %>
            <%= number_to_currency(@cart_total * (@user.province.country.gst_rate / 100)) %>
          <% end %>
        </span>
      </p>
      <p>Total:
        <span class="ks-pink-txt float-right">
          <%= number_to_currency(@cart_total + @tax_total) %>
        </span>
      </p>
      <%= link_to 'Place Order', '#', class: "btn btn-sm btn-block mt-1 ks-pink-bg ks-purple-txt" %>
    </div>
  </div>
</div>