<!-- Contains search and pagination -->
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <%= form_tag(search_products_path, method: "get") do %>
        <%= label_tag(:q, "Search Products:") %>
        <%= select_tag "category_id",
                       options_from_collection_for_select(Category.all, "id", "name"),
                       prompt: 'Choose Category' %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= paginate(@products) %>
    </div>
  </div>
</div>