<!-- Contains search and pagination -->
<div class="container">
  <div class="row align-items-center">
    <div class="col-sm">
      <%= form_tag(search_products_path, method: "get", class: "custom_form") do %>
          <%= select_tag "category_id",
                     options_from_collection_for_select(Category.all, "id", "name"),
                     prompt: 'All Categories' %>
          <%= text_field_tag(:q) %>
          <%= submit_tag("Search") %>
      <% end %>
    </div>
      <%= paginate(@products) %>
  </div>
</div>