<% if full_desc %>
  <%= render partial: 'product_show', object: product %>
<% else %>
  <%= image_tag product.image.url(:thumb) %>
  <h4>
    <strong>
      <%= link_to product.name, product, class: 'ks-pink-txt' %>
    </strong>
  </h4>
  <p class="font-italic small m-1">
    Category: <%= product.category.name %> |
    <%= product.updated_at.strftime("Updated: %b. %e at %H:%M %Z") %>
  </p>
  <p>
    <%= product.description.first(70) %>... <%= link_to 'more', product %>
  </p>
  <p>
    <kbd>CDN $<%= product.price %></kbd>
  </p>
<% end %>