<div class="container">
  <%= image_tag @product.image.url(:medium) %>
  <h1 class='ks-pink-txt'>
    <%= @product.name %>
  </h1>
  <p class="font-italic small m-1">
    Category: <%= @product.category.name %> |
    <%= @product.updated_at.strftime("Updated: %b. %e at %H:%M %Z") %>
  </p>
  <p><%= @product.description %></p>
  <p>
    <kbd>CDN $<%= @product.price %></kbd>
    <%= link_to 'Back to Products', root_path %>
  </p>
</div>